
		body{
			text-align	: center;
			background	: aliceblue;
			color		: slategray;
			font-family	: monospace;
		}
		
		button{
			height					: 50px;
			width					: 100px;
			background				: coral;
			font-family				: sans-serif;
			top						: 50%;
			position				: absolute;
			left					: 50%;
			margin-left				: -50px;
			border-radius			: 10%;
			-webkit-border-radius	: 10%;
			-moz-border-radius		: 10%;
			border					: 3px solid lightcoral;
			font-size				: 30px;
		}
		
		.bigNumber{
			font-size	: 45px;
		}
		
		.smallNumber{
			font-size	: 30px;
		}